/* add css styles here (optional) */

.test {
  display: inline-block;
  margin: 2em auto;
  border: 2px solid #000;
  font-size: 2em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.mainButton{
  float: left;
  cursor: pointer;
  padding: 12px 0;
  width: 7rem;
  text-align: center;
  border-radius: 0rem 0.3rem 0.3rem 0;
  background: #3498db;
  border: none;
  color: #ecf0f1;
  font-weight: bold;
  text-shadow: 0 -1px 0 #2980b9;
  box-shadow: 0 3px 0 1px #222, inset 0 1px 0 #3aafff;
  /*box-shadow: 0rem 0rem 0.5rem #aaaa00ee;*/
  -webkit-transition: .05s linear;
  -moz-transition: .05s linear;
  transition: .05s linear;  
}

.composedButtonLeft {
  width: 50rem;
  display: flex;
  flex-direction: row-reverse
}

.composedButtonRight {
  width: 50rem;
  display: flex;  
}


.menuButton {
  cursor: pointer;
  padding: 12px 0;
  width: 3rem;
  text-align: center;
  border-radius: 0.3rem 0 0 0.3rem;
  background: #3498db;
  border: none;
  color: #ecf0f1;
  font-weight: bold;
  text-shadow: 0 -1px 0 #2980b9;
  box-shadow: 0 3px 0 1px #222, inset 0 1px 0 #3aafff;
  -webkit-transition: .05s linear;
  -moz-transition: .05s linear;
  transition: .05s linear; 
 }
.menuButton:active {
    background: #2980b9;
    margin-top: 2px;
    color: #bdc3c7;
    box-shadow: 0 0 0 1px #222, inset 0 1px 0 #3aafff;  
}

.mainButton:active{
  background: #2980b9;
  margin-top: 2px;
  color: #bdc3c7;
  box-shadow: 0 0 0 1px #222, inset 0 1px 0 #3aafff;
}
